<html>
<head>
    <title>Formulario</title>
</head>
<body>

    <form name="Form" method="post">
        <table>
            <tr>
                <td>Nombre</td>
                <td><input name="txtNombre" type="text" value="" /></td>
            </tr>
            <tr>
                <td>ApellidoPaterno</td>
                <td><input name="txtApellidoPaterno" type="text" value="" /></td>
            </tr>
            <tr>
                <td>ApellidoMaterno</td>
                <td><input name="txtApellidoMaterno" type="text" value="" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input name="txtEmail" type="text" value="" /></td>
            </tr>
            <tr>
                <td>Contraseña</td>
                <td><input name="txtContraseña" type="text" value="" /></td>
            </tr>
            <tr>
                <td>Imagen</td>
                <td><input name="txtImagen"  type="file"  value="" /></td>
            </tr>
            <tr>
                <td>IdEstado</td>
                <td><input name="txtIdEstado" type="text" value="" /></td>
            </tr>
            <tr>
                <td>IdEstatus</td>
                <td><input name="txtIdEstatus" type="text" value="" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Guardar" class="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>